<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="theme-color" content="#7ba8ff">
	<meta name="msapplication-navbutton-color" content="#7ba8ff">
	<meta name="apple-mobile-web-app-status-bar-style" content="#7ba8ff">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">


	<meta charset="utf-8" data-reactid="3" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" data-reactid="4" />
	<meta name="description" content="" data-reactid="5" />
	<meta property="og:type" content="website" data-reactid="6" />
	<meta property="og:site_name" content="Steemit" data-reactid="7" />
	<meta property="og:title" content="Steemit" data-reactid="8" />
	<meta property="og:description" content="" data-reactid="9" />
	<meta property="og:image" content="https://steemit.com/images/steemit.png" data-reactid="10" />
	<meta property="fb:app_id" content="1402743653357701" data-reactid="11" />
	<meta name="twitter:card" content="summary" data-reactid="12" />
	<meta name="twitter:site" content="@steemit" data-reactid="13" />
	<meta name="twitter:title" content="#Steemit" data-reactid="14" />
	<meta name="twitter:image" content="https://steemit.com/images/steemit.png" data-reactid="15" />
	<link rel="manifest" href="/static/manifest.json" data-reactid="16" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico?v=2" data-reactid="17" />
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/favicons/apple-touch-icon-57x57.png" type="image/png"
	 data-reactid="18" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png" type="image/png"
	 data-reactid="19" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png" type="image/png"
	 data-reactid="20" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144.png" type="image/png"
	 data-reactid="21" />
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/images/favicons/apple-touch-icon-60x60.png" type="image/png"
	 data-reactid="22" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/favicons/apple-touch-icon-120x120.png" type="image/png"
	 data-reactid="23" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/images/favicons/apple-touch-icon-76x76.png" type="image/png"
	 data-reactid="24" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/favicons/apple-touch-icon-152x152.png" type="image/png"
	 data-reactid="25" />
	<link rel="icon" type="image/png" href="/images/favicons/favicon-196x196.png" sizes="196x196" data-reactid="26" />
	<link rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png" sizes="96x96" data-reactid="27" />
	<link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32" data-reactid="28" />
	<link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16" data-reactid="29" />
	<link rel="icon" type="image/png" href="/images/favicons/favicon-128.png" sizes="128x128" data-reactid="30" />
	<meta name="application-name" content="Steemit" data-reactid="31" />
	<meta name="msapplication-TileColor" content="#FFFFFF" data-reactid="32" />
	<meta name="msapplication-TileImage" content="/images/favicons/mstile-144x144.png" data-reactid="33" />
	<meta name="msapplication-square70x70logo" content="/images/favicons/mstile-70x70.png" data-reactid="34" />
	<meta name="msapplication-square150x150logo" content="/images/favicons/mstile-150x150.png" data-reactid="35" />
	<meta name="msapplication-wide310x150logo" content="/images/favicons/mstile-310x150.png" data-reactid="36" />
	<meta name="msapplication-square310x310logo" content="/images/favicons/mstile-310x310.png" data-reactid="37" />
	<link rel="stylesheet" href="/css/style.css">
	<title>blockiosk</title>
	<script>



	</script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
	<script src="/js/common.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="/css/tooltip.css">
	<link rel="stylesheet" href="/css/modal.css">
	<script src="/js/modal.js"></script>
	<script type="text/javascript" src="/js/instascan.min.js"></script>

	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/screenfull.js/3.3.3/screenfull.min.js"></script>

</head>

<body>