<%- include("header") %>
<div class="wrapper background-white">
	<div class="step " id="main">

	</div>
	<div class="step selected" id="scan">
		<div class="screen-top">
			<div class="button background-white color-black">
				<i class="fas fa-arrow-left"></i>
			</div>
		</div>
		<video id="preview" style="width: 100%; height: 100%;"></video>
	</div>
	<div class="step" id="">

	</div>
</div>
<script src="/js/scan.js"></script>
<%- include("footer") %>