<%- include("header") %>
<div class="wrapper">
	<div class="step selected" id="checkin">
		<div class="partition partition-6 height-100">

			<div class="screen-middle">
				<div class="logo" style="width: 360px;">
					<div class="square"></div>
				</div>
				<!-- <span class="text-big">
					맥도날드
				</span> -->

			</div>
		</div>
		<div class="partition partition-6 height-100">
			<div class="screen-middle">
				<span class="text-title">
					Are you a member?
				</span>
				<br>
				<br>
				<div style="display: inline-block; padding: 30px;" class="background-white">
					<img src="/img/qr.png" alt="">
				</div>
				<br>
				<br>
				<br>
				<button class="button background-yellow color-black text-title">
					I am not a member.
				</button>
			</div>
		</div>
	</div>

	<div class="step" id="where">
		<div class="partition partition-6 height-100">

			<div class="screen-middle">
				<div class="logo" style="width: 360px;">
					<div class="square"></div>
				</div>
			</div>
		</div>
		<div class="partition partition-6 height-100">
			<div class="screen-middle">
				<button class="button background-yellow color-black text-title">
					Eat In
				</button>
				<br>
				<br>
				<br>
				<button class="button background-yellow color-black text-title">
					Take Out
				</button>
			</div>
		</div>
	</div>
	<div class="step" id="selectMenu">
		<div class="partition partition-5 padding-20 height-100 scrollable">
			<div class="align-center">
				<div class="logo" style="width: 40%;">
					<div class="square"></div>
				</div>
				<div class="text-subtitle">
					Welcome back, Mr. Maro!
				</div>
				<div class="selectable-list">
					<div class="selectable-item background-white color-black">
						<div class="partition partition-12 padding-20">
							<div class="text-title">
								Especially for you!
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="selectable-item background-white color-black">
						<div class="partition partition-12 padding-20">
							<div class="text-title">
								You recently ordered
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="selectable-item background-white color-black">
						<div class="partition partition-12 padding-20">
							<div class="text-title">
								Burgers
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="selectable-item background-white color-black">
						<div class="partition partition-12 padding-20">
							<div class="text-title">
								Happy meals
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="selectable-item background-white color-black">
						<div class="partition partition-12 padding-20">
							<div class="text-title">
								Main menu
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="selectable-item background-white color-black">
						<div class="partition partition-12 padding-20">
							<div class="text-title">
								Deserts
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="partition partition-7 height-100 scrollable">
			<div class="selectable-list">
				<div class="selectable-item background-white color-black">
					<div class="partition partition-4">
						<img src="/img/bigmac.png" alt="" style="width: 100%;">
					</div>
					<div class="partition partition-8">
						<span class="text-title">
							Big Mac
						</span>
						<br>
						<span class="text-subtitle">
							£3.19
						</span>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="selectable-item background-white color-black">
					<div class="partition partition-4">
						<img src="/img/hamburger.png" alt="" style="width: 100%;">
					</div>
					<div class="partition partition-8">
						<span class="text-title">
							Hamburger
						</span>
						<br>
						<span class="text-subtitle">
							£0.89
						</span>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="selectable-item background-white color-black">
					<div class="partition partition-4">
						<img src="/img/grilled-chicken-salad.png" alt="" style="width: 100%;">
					</div>
					<div class="partition partition-8">
						<span class="text-title">
							Grilled Chicken Salad
						</span>
						<br>
						<span class="text-subtitle">
							£3.33
						</span>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="screen-bottom align-right">
			<button class="button background-yellow color-black text-title">
				Checkout
			</button>
		</div>
	</div>
	<div class="step" id="payment">
		4
	</div>
</div>
<%- include("footer") %>